#content-wrap{
    border:1px solid #dddddd;
    border-radius: 10px ;
}

#top{
    border: none;
    border-bottom: 1px solid #676767;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    background: #cccccc;
}

#top .banner{
    padding-bottom: 20px;
    padding-top: 20px;
}

#top .banner a {
    padding-left: 15px;
}

#top .navbar{
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#top .navbar-inner{
    background: #676767;
    border: none;
    border-radius: inherit;
}

#top .nav a{
    color:#ffffff;
    text-shadow: none;
    font-weight: bold;
}

#top .nav a:hover{
    background: #009999;
}
